#body {
    display: none;
}
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid green;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 0.5s;
    animation-name: animatebottom;
    animation-duration: 0.5s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
@font-face {
    src: url("fonts/yoster.ttf");
    font-family: body-font;
}
@font-face {
  src: url("fonts/kongtext.ttf");
  font-family: link-font;
}

body {
    background-color: #2196F3;
    background: 	linear-gradient(-135deg, rgb(0, 89, 161) 10%, transparent),
		repeating-linear-gradient(45deg, rgb(0, 132, 255) 0%, rgba(3, 44, 156, 0.6) 5%, transparent 5%, transparent 10%),
    repeating-linear-gradient(-45deg, rgba(34, 76, 152, 0.4) 0%, rgba(31, 48, 94, 0.5) 5%, transparent 5%, transparent 10%);;
    font-family: body-font;
    background-attachment: fixed;
    display: block;
}
body{
  color: white;
}
#home-title {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#home-title-topnav {
  width: 300px;
  display: none;

}
.main
{
    margin-left: 140px;
    padding: 0px 70px;
    padding-top: 20px
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.topnav {
  display: none;
  background: #1565C0;
}
.topnav a {
  color: white;
}
.topnav button {
  color: white;
}
.topnav a:hover {
  color: #00C853;
}
.topnav a.active {
  color: #00C853;
}

.sidenav {
    width: 190px;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 10px;
    font-size: 5px;
    background: #1565C0;
    overflow-x: hidden;
    padding: 8px 0;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    font-size: 15px;
    color: white;
    display: block;
    font-family: link-font;
}
.sidenav a:hover {
    color: #00C853;
}
.jumbotron a {
  color: #40C4FF;
}
.jumbotron a:hover {
  color: #00B0FF;
}
#accordion {
  padding-left: 150px;
  padding-right: 150px;
}

@media screen and (max-width:750px) {
  .sidenav {
    display: none;
  }
  .main {
    margin-left: 0px;
  }
  .topnav {
    display: block;
  }
  #home-title {
    display: none;
  }
  #home-title-topnav {
    display: block;
  }
  #accordion {
    padding-left: 50px;
    padding-right: 50px;
  }
}


.slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
  }
  
/* Hide the images by default */
.slides1, .slides2, .slides3, .slides4, .slides5, .slides6, .slides7 {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: gray;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgb(175, 175, 175);
}

.captiontext {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* Fading animation */
.fadeanim {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
